*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: $fontPrimary;
}

// .MuiButton-root.btn__black {
// 	background-color: #282828;
// 	color: #ffffff;
// 	padding: 16px 0;
// 	font-family: $fontSecondary;
// 	font-weight: 800;
// 	text-transform: none;
// 	border-radius: 50px;
// 	&:hover {
// 		background-color: #282828;
// 	}
// }

// *,
// *::before,
// *::after {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }

// body {
//   font-family: $fontMontserrat;
//   font-size: 16px;
// }
